{
    "TargetAlias":                   "Zscaler Tunnel",
    "EnableProfileReclassification": true,
    "EnableDnsRegistration":         false,
    "DnsServerAddress":              "10.10.10.10",
    "DnsSuffix":                     "",
    "StateFile":                     "C:\\ProgramData\\zpa-vpn-sync\\zvpn-conprof.state.json",
    "ForceRegisterAfterHours":       24,
    "AdapterTimeoutSeconds":         60,
    "PollIntervalSeconds":           2,
    "VerifyRegistration":            true,
    "VerifyTimeoutSeconds":          30,
    "PostRegisterDelaySeconds":      5,
    "LogFile":                       "C:\\ProgramData\\zpa-vpn-sync\\zvpn-conprof.log",
    "MaxLogSizeBytes":               1048576,
    "LogRetainedFiles":              1
}
